<form method="post" action="/students/new">  
<label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first_name" />
  

  <label for="second-name">Last Name:</label>
    <input id="second-name" type="text" name="second_name">

   
  <label for="age-select">Select an age:</label>
    <select id="-select" name="age">
      <option value="4">4</option>
     <option value="5">5</option>
     <option value="6">6</option>
     <option value="7">7</option>
     <option value="8">8</option>
     <option value="9">9</option>
     <option value="10">10</option>
     <option value="11">11</option>
     <option value="12">12</option>
     <option value="13">13</option>
     <option value="14">14</option>
     <option value="15">15</option>
     <option value="16">16</option>
    </select>
  

  <label for="house-select">Select a house:</label>
    <select id="-select" name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Hufflepuff">Hufflepuff</option>
      <option value="Slytherin">Slytherin</option>
    </select>
    
  
  

  

  <input type='submit' value="Create Student"/>
</form>